@import "src/assets/styles/colors";
@import "src/assets/styles/sizes";
@import "src/assets/styles/fonts";

html {
  font-size: 24px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: $body-bg;
  color: $text;

  @media (max-width: $small-max) {
    font-size: .75rem;
  }

  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, th {
  color: $headers;
}
