$darkblue: #34495e;
$darkerblue: #2c3e50;
$greenblue: #16a085;
$lightgrey: #ecf0f1;
$darkgrey: #7f8c8d;
$silver: #bdc3c7;
$concrete: #95a5a6;

$body-bg: $darkerblue;
$content-bg: $darkblue;
$headers: $greenblue;
$text: $lightgrey;
